body {
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: white;
}

#header {
  margin: 50px;
}

.routingButtons {
  text-decoration: none;
  color: white;
  margin: 50px;
  font-size: 20px;
}