body {
  background-color: rgb(44, 44, 44);
  color: white;
  text-align: center;
}

.button {
  background-color: rgb(0, 119, 255);
  color: white;
  border: 3px solid rgb(0, 119, 255);
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

/* Header */
#header {
  margin: 50px;
  display: flex;
  margin-left: 50%;
  transform: translate(-50%);
}

.routingButtons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
}

.routingButtonsContainer {
  width: 300px;
  margin: 0 50px;
}

/* Uploader */
.uploadInput {
  margin-top: 50px;
}

.chooseFile {
  width: 400px;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 10px;
}

.chooseFile:hover {
  cursor: pointer;
}

.submitFile {
  background-color: none;
  margin-left: 10px;
}

.uploadPreviewContainer {
  display: flex;
  width: 900px;
  margin: 50px;
}

.uploaderImage {
  height: 200px;
  margin: 20px;
  margin-right: 100px;
}

.uploaderName{
  padding-top: 80px;
  padding-right: 100px;
  width: 200px;
}

.uploaderTime {
  display: flex;
  width: 40px;
  padding-top: 80px;
}

/* Countdown */
.counter {
  margin: 50px;
  font-size: 100px;
}

.counterInput {
  border: 2px solid rgb(0, 119, 255);
  border-radius: 10px;
  background-color: rgb(44, 44, 44);
  padding: 2px 5px;
  color: white;
}

.counterButton {
  margin: 10px;
  width: 70px;
}